@model IEnumerable<Clothes_Shop.Models.ThongKeSanPham>

@{
    ViewBag.Title = "ThongKeSanPham";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<h2>Thống kê sản phẩm</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.maSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tenSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.size)
    </td>
    <td>
        <img style="height: 100px;" src="@Url.Content("~/ImageClothes/"+item.anhSP)"
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.giaBan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.soLuong)
    </td>

</tr>
}

</table>
