@model Clothes_Shop.Models.KHACHHANG

<div id="infor">
    <h4>KHACHHANG</h4>
    <hr />
    <dl style="margin-left: 20%" class="dl-horizontal">
        
        <dt style="margin-right: 10px;">
            @Html.DisplayNameFor(model => model.HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>     

        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENTHOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENTHOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa thông tin", "EditInfor","KhachHang") |
    @Html.ActionLink("Đổi mật khẩu", "EditPass","KhachHang")|
    @Html.ActionLink("Trở về", "Index","TrangChu")
</p>
