@model Clothes_Shop.Models.SANPHAM

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Chỉnh sửa</h2>

@using (Html.BeginForm("ChinhSua", "NhanVien", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Sản Phẩm</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.MASP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MASP,  new { @class = "form-control", @readonly = "readonly" } )
            @Html.ValidationMessageFor(model => model.MASP, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TENSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ANHSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="fileImg" value="@Model.ANHSP" />
            <p>@ViewBag.ThongBao</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SIZE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SIZE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SIZE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MAU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MAU, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MAU, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.THUONGHIEU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.THUONGHIEU, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.THUONGHIEU, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CHATLIEU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CHATLIEU, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CHATLIEU, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.GIABD, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GIABD, new { htmlAttributes = new { @class = "form-control" , @type = "number", @min = "0"} })
            @Html.ValidationMessageFor(model => model.GIABD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NGAYDANG, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (Model.NGAYDANG != null)
            {@Html.EditorFor(model => model.NGAYDANG, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.NGAYDANG.Value.ToString("yyyy-MM-dd") } })
        }
        else
        {
            @Html.EditorFor(model => model.NGAYDANG, new { htmlAttributes = new { @class = "form-control", @type = "date" } })

        }
            @Html.ValidationMessageFor(model => model.NGAYDANG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MAGIOITINH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">    
            @Html.DropDownList("MaGioiTinh")
            @Html.ValidationMessageFor(model => model.MAGIOITINH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MALSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaLSP")
            @Html.ValidationMessageFor(model => model.MALSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
            @Html.ValidationMessageFor(model => model.MALSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="MoTa">@Model.MOTA</textarea>
            @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2-col-md-10">
            <input type="submit" value="Lưu" />
            <a href=" @Url.Action("QuanLySanPham")"><button type="button">Trở về</button></a>
        </div>
    </div>
</div>
}

<script type="text/javascript">
    $('#MAGIOITINH').change(function () {
        var id = $(this).val();
        debugger
        $.ajax({
            type: "post",
            url: "/NhanVien/GetDM?maGT=" + id,
            contentType: "html",
            success: function (response) {
                debugger
                $('#MALSP').empty();
                $('#MALSP').append(response);
            }
        })
        if (id == 1) {
            $('#MALSP').append();
        }   
    });
    document.foo.submit();

</script>